# **Python Class 2**

## **Print Function**
Print is a python built in funtion used to print the statement
#### **Analyzing the Print Function and its Argument**

In [4]:
print("Pakistan Zindabad")
#name  Argument
#This statement prints the  Pakistan Zindabad

Pakistan Zindabad

In [5]:
print("I am a string value",11,12.5,True,False)

I am a string value 11 12.5 True False

### Using **sep** which controls the value separation between them

In [16]:
print("I am a string value",11,12.5,True,False,sep='')

I am a string value1112.5TrueFalse

In [17]:
print("I am a string value",11,12.5,True,False,sep='********')

I am a string value********11********12.5********True********False

### Using **end** which controls the end of line

In [14]:
print("Python for all",end='')
print("Hello python")

Python for allHello python

### Data Type in Python:
- String
- Integer (Whole Numbers)
- Float (decimal Numbers)
- Boolean (True, False)

# Variable:
   ####    Variable are the indentifier or the thing who can stores any value in it

In [32]:
age = 23

# Here, we createed the variable with name age who contain an Integer value 23.

In [33]:
name = "Ahsan"

In [34]:
age

23

In [35]:
name

'Ahsan'

In [36]:
#id function is used to find the memory address of the anything 

id(name)

2117022445232

In [37]:
id(print())

140718287690968

In [38]:
#type is used to find the Data type
type(age)

int

In [39]:
type(name)

str

# Operators
- Addition (+)
- Subtraction (-)
- Multiplication (*)
- Division (/) and (//)

In [52]:
marks = 50

In [41]:
marks

50

In [53]:
marks + 40

90

In [54]:
marks = marks + 65
print(marks)

115

In [55]:
age

23

In [56]:
age += 1.5

In [57]:
age

24.5

In [60]:
age -= 1

In [61]:
age

22.5

In [62]:
10/5

2.0

In [66]:
# // is used to give the answer in integer
10//3

3

In [75]:
import math as n

print(n.floor(23.9))
print(n.ceil(23.3))

23
24

In [79]:
x = round(5.49)
print(x)

5

In [82]:
message = "My name is Ahsan"
print(message)
message = "My Full name is Ahsan Nadeem"
print(message)

My name is Ahsan
My Full name is Ahsan Nadeem

In [83]:
message = 23
print(message)
message = 26
print(message)

23
26

## Variable name is legal and Illegal
- Reserved words which are already used in python

In [91]:
math = 23

In [92]:
math

23

In [94]:
father_name= "Nadeem"

In [95]:
student = "Saad"
student1 = "Khan Sahab"

In [103]:
print(student,student1)

Saad Khan Sahab

In [105]:
import sys
print(sys.getsizeof(student))

53

## User Input

In [116]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("My name is: ",name,"and age is: ",age)

Enter your name: Ahsan
Enter your age: 25
My name is:  Ahsan and age is:  25

In [114]:
age = 23

In [113]:
type(age)

int

## String Concatenation

In [118]:
Data = "My name is: "+name+" and age is: "+age
print(Data)

My name is: Ahsan and age is: 25

## Type Casting

In [121]:
number_of_apples = "23"
number_of_apples

'23'

In [124]:
number_of_apples= int(number_of_apples)   #Type  casting or you may say data type changing
number_of_apples += 1
number_of_apples

24

In [125]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
Data = "My name is: "+name+" and age is: "+str(age)
print(Data)

Enter your name: Ahsan
Enter your age: 25
My name is: Ahsan and age is: 25